<header id="home" data-spy="scroll" data-target="#top-nav">

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">

        <div class="container">

          <div class="navbar-header">

            <%= link_to root_path, class: "navbar-brand default-logo scroll" do %>
              MSL招聘网
            <% end %>

          </div>


          <div class="collapse navbar-collapse top-nav" id="menu-4">

            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to("首页", root_path, class: "scroll") %></li>
              <li><%= link_to("工作", jobs_path, class: "scroll") %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><%= button_to("登录", new_user_session_path, method: :get, class: "btn btn-default navbar-btn") %></li>
              <li><%= button_to("注册", new_user_registration_path, method: :get, class: "btn btn-default navbar-btn") %> </li>
            </ul>

            <%= form_tag jobs_path, :method => :get, class: "navbar-form navbar-right" do %>
              <div class="input-group search-box">
                <input type="text" class="form-control" name="keyword" placeholder="搜索职位" value="<%= params[:keyword] %>">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

  </div>

</header>
